@font-face {
  font-family: larken;
  src: url(./LarkenDEMO-Regular.otf);
}
@font-face {
  font-family: larkenb;
  src: url(./LarkenDEMO-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav{
  width: 100%;
  position: absolute;

  top: 0;

  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;

}
nav h5{
  font-size: 1.2vw;
  font-weight: 100;  
  font-family: larken;
}
#menu{
  background-color: #fff;
  width: 9vw;
  height: 3.8vw;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
#menu:active{
  /* scale: 0.95; */
}
#menu .line{
  height: 2px;
  width: 30px;
  background-color: black;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #ede9e2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1 h1 {
  font-size: 13vw;
  text-transform: uppercase;

  text-align: center;
  line-height: 13vw;
  font-family: larkenb;
}
#page1 h1 span {
    color: #ac9376;
}
#page1 h1 span:nth-last-child(1) {
    font-family: gilroy;
}

#page1 img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
#page2 {
    min-height: 100vh;
    background-color: #24262b;
    position: relative;
    width: 100%;
    color: #fff;
    /* background-size: cover; */
    padding: 6vw 5vw;
}

#page2 h1{
  color: #fff;
  text-align: center;
  font-size: 8vw;
  line-height: 1;
  text-transform: uppercase;
  font-family: larken;
}
#page2 h1 span{
  font-family: larken;
  color: #ede9e2;
}

.page2-elements{
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-top: 5vw;
  justify-content: space-between;
}

#more{
  background-color: #fff;
z-index: 10;
  height: 7vw;
  width: 7vw;
  font-size: 1.2vw;
  opacity: 0;
  position: absolute;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
}


.element{
  height: 45vh;
  width: 27vw;
  position: relative;
  background-color: red;
}
.element#elem1{
  background-color: blue;
  width: 50vw;
  height: 70vh;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: brown; */
  z-index: 99;
}

.element img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page3{
  width: 100%;
  padding: 6vw 3vw;
  background-color: #24262b;
}
#page3>h1{
  font-family: larken;
  font-size: 25vw;
  color: #ede9e2;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
  position: sticky;
  top: 13%;
}
#page3 .imgs{
  width: 100%;
  position: sticky;
  top: 5%;
  margin-top: 5vw;
  transform-origin: 50% 0%;

  filter: brightness(1);
}

.imgs img{
  width: 100%;

}
.imgs h1{
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: larken;
  font-size: 6vw;
  color: #ede9e2;
text-transform: uppercase;

}
